.photo-section {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  text-align: left;
  padding-bottom: 100px;
}
.photo-stack img {
  position: absolute;
  width: 100%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.photo1 {
  top: 5%;
  left: 85%;
  max-width: 450px;
  transform: rotate(-8deg);
  z-index: 1;
  position: sticky;
}
.photo2{
  top: 5%;
  left: 115%;
  max-width: 500px;
  transform: rotate(9deg);
  z-index: 2;
  position: sticky;
}
.zoom {
  transition: .4s ease;
}
.zoom:hover {
  transform: scale(1.08);
}
.photo-stack img:hover {
  transform: scale(1.2) rotate(0deg) translateY(-10px);
  z-index: 10;
}
.booth3-topic {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 100px;
  color: #4CAF50;
  margin-top: 50px;
  padding-top: 25px;
  margin-left: 70px;
}
.photo-text {
  flex: 1 1 400px;
  max-width: 600px;
}
.topic1 {
  font-family: Quicksand;
  font-weight: bold;
  color: #d86b90;
  margin-top: 5px;
  padding-top: 25px;
  margin-left: 120px;
}
.photo-section ul {
  list-style-type: disc;
  padding-left: 25px;
  color: #d86b90;
  font-family: Quicksand;
  font-size: 16px;
  line-height: 1.8;
  margin-left: 110px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
  justify-items: center;
  align-items: start;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.product-card {
  text-align: center;
  width: 220px;
}
.img-box {
  width: 220px;
  height: 170px;
  background-color: #fff7fa;
  border: 8px solid #badd7f;
  border-radius: 10px;
  margin: 0 ;
  overflow: hidden;
  transition: all 0.3s ease;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.img-box:hover {
  transform: scale(1.1);
  border-color: #feb4c6;
}
.img-box:hover img {
  transform: scale(1.05);
}
.product-card h6 {
  color: #3e8440;
  font-weight: 600;
  margin-bottom: 4px;
  padding-bottom: 10px;
}
@media (max-width: 480px) {
  .booth3-topic {
    font-size: 48px;
    margin-top: 50px;
    padding-top: 40px;
    margin-left: 15px;
    margin-bottom: -60px;
  }
  .topic1 {
    padding-top: 5px;
    font-size: 18px;
    margin-left: 15px;
  }
  ul{
    margin-left: 25px;
    font-size: 14px;
  }
  .product-card h6 {
    font-size: 12px;
}
  .product-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    padding-top: 20px;
    margin-left: -20px;
  }
  .product-card {
    width: 145px;
    transform: none !important;
  }
  .img-box {
    width: 150px;
    height: 110px;
    border-width: 6px;
  }
  .photo-bg {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
 .photo-stack {
    display: flex;
    flex-direction: column;
  }  
  .photo-stack img {
    position: relative;
    max-width: 450px;
  }
  .photo1 {
    left: 0%;
    top: 0%;
    transform: none;
    z-index: 2;
    margin-bottom: -30px;
  }
  .photo2 {
    left: 0%;
    top: 0%;
    transform: none;
    z-index: 1;
  }
  .photo1, .photo2 {
    position: relative;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .booth3-topic {
    margin-top: 50px;
    padding-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .topic1 {
    padding-top: 5px;
    font-size: 30px;
    margin-left: 70px;
  }
  ul{
    font-size: 26px;
    margin-bottom: 30px;
  }
  .product-card h6 {
    font-size: 17.5px;
  }
  .product-grid {
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    padding-top: 20px;
    margin-left: -50px;
  }
  .product-card {
    width: 200px;
    transform: none !important;
  }
  .img-box {
    width: 200px;
    height: 170px;
  }
  .photo-stack {
    display: flex;
  }  
  .photo-stack img {
    position: relative;
    max-width: 500px;
  }
  .photo1 {
    left: 0%;
    top: 0%;
    max-width: 600px;
    z-index: 2;
  }
  .photo2 {
    left: 0%;
    top: 0%;
    max-width: 500px;
    margin-left: -150px;
    z-index: 1;
  }

}



/* Dark Mode */
body.dark-mode .booth3-topic {
  color: var(--h2);
}

body.dark-mode .topic1 {
  color: var(--p-dark);
}

body.dark-mode ul {
  color: var(--p-dark);
}

body.dark-mode .img-box {
  background-color: var(--bgc-dark-pink);
  border-color: var(--darker-pink);
}

body.dark-mode .img-box:hover {
  border-color: var(--dark-pink);
}

body.dark-mode .product-card h6 {
  color: var(--h4);
}
