* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffeef4;
  overflow-x: hidden;
  padding-top: 50px; 
}
.gadgets-container {
  display: flex;
  width: 100%;
}
.left-bar {
  width: 130px;
  background-image: url("../MediaFiles/h-G02-rorate-newpink.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;

}

.vertical-text {
  position: absolute;
  top: 50%;
  left: 190px; 
  transform: translateY(-50%); 
  font-size: 6rem; 
  font-weight: 800;
  color: #ff5f9e;
  line-height: 6rem;
  letter-spacing: 10px;
  text-align: center;
  font-family: "Baloo 2", sans-serif;
  z-index: 2; 
}
.content {
  flex: 1;
  padding: 40px 80px 40px 190px;
}
.description {
  color: #ff66a3;
  font-weight: 600;
  text-align: left;       
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 900px;        
  margin-left: 100px;       
}
.category-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.category-buttons button {
  background-color: #fda8c9;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.category-buttons button:hover {
  background-color: #ff85b0;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
  justify-items: center;
  align-items: start;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}
.product-card:nth-child(5),
.product-card:nth-child(6),
.product-card:nth-child(7),
.product-card:nth-child(8),
.product-card:nth-child(13),
.product-card:nth-child(14),
.product-card:nth-child(15),
.product-card:nth-child(16) {
  transform: translateX(50px);
}

.product-card {
  text-align: center;
  width: 220px;
}

.img-box {
  width: 220px;
  height: 150px;
  background-color: #fff7fa;
  border: 8px solid #ff9ebc;
  border-radius: 10px;
  margin: 0 auto 10px;
  overflow: hidden;
}


.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card h3 {
  color: #ff3c83;
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.product-card p {
  color: #b84d75;
  font-size: 0.75rem;
  line-height: 1.2;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .gadgets-container {
    flex-direction: column;
  }

  .left-bar {
    width: 100%;
    height: 100px;
  }

  .vertical-text {
    writing-mode: horizontal-tb;
    font-size: 1.5rem;
    line-height: 1;
  }

  .content {
    padding: 20px;
  }
}
