@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Quicksand:wght@300..700&display=swap');

:root {
    --bg-light-pinker: #ffc3d2;
    --bg-light-pink: #ffeaef;
    --bg-lighter-pink: #fff3f6;
    --font-sub-title: #d86b90;
    --font-title: #badd7f;
    --font-p: #dc9aad;
}

label {
  font-family: 'Quicksand', sans-serif;
}