.hero-section {
  position: relative;
  height: 280px;
  background: url("../MediaFiles/G5.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-cate-text{
    color: #fa9fb5;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    font-size: 250%;
}

.drink-img {
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-top: 200px;
}
main h2 {
  color: #badd7f;
  font-size: 2rem;
  margin-top: 70px;
  text-align: center;
}
.info-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 60px 100px;
  max-width: 1200px;
  margin: 0 auto;
}
.box {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.box h4 {
  font-size: 1.4rem;
  color: #33aa44;
  margin: 0;
}

.box p {
  color: #fa9fb5;
  font-weight: 600;
  line-height: 1.7;
  max-width: 360px;
  margin: 0;
  padding: 0 6px;
  word-break: break-word;
}
.four-cate h2 {
    color: #fa9fb5;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}
.four-cate h4 {
    margin: 10%;
    display: flex;
    justify-content: center;
    
}
.four-cate p {
    display: flex;
    justify-content: center;
    margin: 0;
}
.four-cate {
    padding: 8% 0;
}

.cate-area {
    justify-content: center;
    display: flex;
    padding: 0;
}

.cate-img {
    margin-top: -50%;
    border: 1px solid black;
}
.cate {
    border-radius: 20px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 100px;
    padding: 10%;
    height: 500px;
    width: 200px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.cate p {
    margin-top: 30%;
}

.cate:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

#cate-1{
    background-color: #f7efda ;
    box-shadow: 18px -4px 0px -1px rgba(207,164,96,0.54);
}

#cate-2{
    background-color: #feb4c6 ;
    box-shadow: 18px -4px 0px -1px rgba(233,125,160,0.54);
}

#cate-3{
    background-color: #ffd8e1 ;
    box-shadow: 18px -4px 0px -1px rgba(251,144,178,0.54);
}

#cate-4{
    background-color: #efaca4;
    box-shadow: 18px -4px 0px -1px rgba(199,40,21,0.54);
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 90% ;
}

.cate-btn {
    width: 30px;
    max-height: 30px;
    text-decoration: none;
}

.cate-btn h2{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    transition: 0.3s;
}

#cate-btn-1 h2{
    color: rgba(207,164,96) ;
}

#cate-btn-2 h2{
    color: rgba(233,125,160);
}

#cate-btn-3 h2 {
    color: rgba(251,144,178) ;
}

#cate-btn-4 h2 {
    color: rgba(199,40,21);
}

#cate-btn-1 h2:hover{
    background-color: rgba(207,164,96) ;
    color: white;
    transition: 0.3s;
}

#cate-btn-2 h2:hover{
    background-color: rgba(233,125,160) ;
    color: white;
    transition: 0.3s;
}

#cate-btn-3 h2:hover {
    background-color: rgba(251,144,178);
    color: white;
    transition: 0.3s;
}

#cate-btn-4 h2:hover {
    background-color: rgba(199,40,21);
    color: white;
    transition: 0.3s;
}
#cate-btn-4:hover {
    background-color: rgba(199,40,21,0.54);
}

.row {
    min-height: 100vh; 
    height: 100%;
}

.col-sm-9, .col-lg-10 {
    height: 100%;
}

.h-100 {
    height: 100%;
}

.flex-shrink-0 {
    height: 100%; 
}

.left-bg {
  background-image: url('../MediaFiles/h-G02-rorate.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.4;
}
.left2-bg {
  background-image: url('../MediaFiles/G3.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 90px !important;
}

.right-bg {
  background-image: url('../MediaFiles/G4.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 120px !important;
}
.bar-left {
  background-color: #ffeaef;
  height: 100vh;
}
.bar-right {
  background-color: #ffeaef;
  height: 100vh;
  width: 50px !important; 
  flex-direction: column ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  background-color: #fef7f9;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#bubble-img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .left-bg,
  .blue-bar {
    display: none;
  }

  .main-content {
    height: auto;
    padding: 40px 20px;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle1 {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #ffeaef; 
  border-radius: 50%; 
}
.circle2 {
  position: absolute;
  width: 380px;
  height: 380px;
  background-color: #ffc3d2; 
  border-radius: 50%; 
}
#bubble-bg {
  position: absolute;
  width: 200%;
  max-width: 900px;
}
.main-image {
  position: absolute;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.main-image:hover {
  animation: pop 0.4s ease;
  transform: scale(1.1);
  z-index: 10;
}

.main-image.pop {
  transform: scale(1.1);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.1);
  }
}
.numbers {
  font-family: Instrument Serif;
  font-weight: bold;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
  height: 100%; 
}

.numbers span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
  color: #e64a8a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.numbers span:hover {
  color: #a4034c;
  transform: scale(3);

}
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .numbers {
    position: static;
    flex-direction: row;
    margin-top: 15px;
    gap: 15px;
  }

  .main-image {
    max-width: 90%;
    height: auto;
  }
}
.text-bg {
  background-color: #ffe6ee;
  padding: 20px 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: inline-block;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 0px;          
  transform: translateY(-50%);  
  z-index: 200;
  color: #d04a7c;
  text-align: left;
}

.hero-text h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: #d86b90;
}

.hero-text h1 {
  font-size: 108px;
  font-weight: bolder;
  color: #badd7f;
  font-family: Instrument Serif;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  width: 200px;
  margin-bottom: 15px;
  border: 2px solid #f5a3c2;
}

.search-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #555;
  background: transparent;
}

.search-container i {
  color: #e64a8a;
  font-size: 16px;
}